DB_CONNECTION=sqlite
DB_DATABASE=C:/Users/karat/cinema-server_php/database/database.sqlite
APP_DEBUG=true
APP_ENV=local
LOG_CHANNEL=stack
APP_URL=http://localhost:8000
APP_KEY=base64:mzJaUfTfUk0+OqcYzQj05wOP0lKDKCUT7UaNezqlXx8=